html{
    background-color: beige;
}
#cursor-magic{
    position: fixed;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 55% 15% 80% 40%;
    filter: blur(1px);
    box-shadow:
        0 0 6px currentColor,
        0 0 16px currentColor;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    animation: cloudShape 1s ease-in-out infinite;
    transition: 
        background-color 0.5s linear,
        color 0.5s linear;
}
.magic-particle{
    position: fixed;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    pointer-events: none;
    background: currentColor;
    box-shadow: 0 0 12px currentColor;
    animation: particle-fade 1s ease-out forwards;
    z-index: 9999;
}
.cokkie{
    background-color: rgb(25, 25, 25);
    color: white;
    border: solid 0.2rem rgb(15, 15, 15);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    position: fixed;
    top: 30vh;
    left: auto;
    padding: 1.5rem;
    width: 25rem;
    height: 15rem;
    z-index: 3;
    transition: 0.4s ease-out;
}
.cokkie:hover{
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem white;
    text-shadow: 0 0 0.1rem white;
}
#btn-c{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#sim{
    background-color: lime;
    color: black;
    width: 5rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: solid 0.1rem rgb(15, 15, 15);
    transition: 0.2s ease-out;
}
#nao{
    background-color: red;
    color: black;
    width: 5rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: solid 0.1rem rgb(15, 15, 15);
    transition: 0.2s ease-out;
}
#btn-c>button:hover{
    transform: scale(1.01);
    border: solid 0.1rem white;
    color: white;
}
#btn-c>button:active{
    transform: scale(0.9);
}
#img_cokkie{
    display: none;
    position: fixed;
    top: 1.5vh;
    left: 12%;
    width: 3.2rem;
    height: 3.2rem;
}
body{
    display: flex;
    justify-content: center;
    margin: 30vh 0 0 0;
    height: 220vh;
}
::-webkit-scrollbar{
    width: 0.8rem;
}
::-webkit-scrollbar-track{
    background: rgb(20,20,20);
}
::-webkit-scrollbar-thumb{
    background: rgb(100,100,100);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    filter: brightness(1.3);
}
#bg{
    position: fixed;
    top: 20vh;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 0;
    width: 85%;
    height: auto;
}
#fundo{
    filter: blur(5px);
    transition: filter 8s ease;
    width: 100%;
    height: auto;
    border: solid 0.6rem rgb(50, 50, 50);
    border-radius: 0.4rem;
}
main{
    z-index: 1;
    display: flex;
    justify-content: center;
    float: inline-start;
    flex-wrap: wrap;
}
header{
    background-color: rgb(25, 25, 25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: end;
    z-index: 2;
}
#foto_index{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    margin-bottom: 0.2rem;
    transition: 0.4s ease;
}
#foto_index:hover{
    box-shadow: 0 0 0.3rem white;
    transform: scale(1.05);
}
#roll{
    display: flex;
    width: 70%;
    height: 6vh;
    justify-content: center;
    margin-bottom: 0.1rem;
}
#roll>a{
    background-color: rgb(50, 50, 50);
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
    overflow: hidden;
    border-radius: 0.2rem;
    transition: 0.2s ease-in;
}
#roll>a:hover{
    background-color: white;
    color: black;
    border: 0.1rem white;
    height: 7vh;
    transform: translateY(-1vh);
    box-shadow: inset 0 0 0.3rem rgb(50, 50, 50);
}
#insta_ico{
    width: 3.2rem;
    height: 3.2rem;
    margin-bottom: 0.2rem;
    border-radius: 100%;
    transition: 0.4s ease;
}
#insta_ico:hover{
    box-shadow: inset 0 0 0.3rem white;
    transform: scale(1.05);
}
.card{
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: justify;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 22rem;
    height: 22rem;
    margin: 0 6rem;
    border: solid 0.1rem white;
    border-radius: 1rem;
    transition: 0.6s ease-out;
}
.card:hover{
    transform: scale(1.01) translateY(-0.4rem);
    box-shadow: white 0 0 0.6rem;
    text-shadow: 0 0 0.1rem white;
}
.card>p{
    margin: 2rem;
}
footer{
    height: 40vh;
    width: 100%;
    background: rgb(30, 30, 30);
    position: absolute;
    top: 220vh;
    z-index: 1;
}
.barra{
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 34vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#classificacao{
    background-color: rgb(15, 15, 15);
    font-size: 0.8rem;
    color: white;
    width: 14rem;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem 1rem 1rem;
    justify-content: center;
    border: solid 0.1rem black;
    border-radius: 0.6rem;
    text-align: center;
    transition: 0.4s ease-out;
}
#classificacao:hover{
    transform: scale(1.01);
    box-shadow: 0 0 0.5rem white;
}
#classificacao:active{
    opacity: 0;
}
#mais16{
    border-radius: 0.2rem;
    background-color: rgb(25, 25, 25);
    width: 13rem;
    height: 3rem;
    display: flex;
    justify-content: center;
}
#ico16{
    border-radius: 0.6rem;
    width: 3rem;
    height: 3rem;
}
#classificacao>p{
    margin: 0.6rem;
}
#links{
    background-color: rgb(15, 15, 15);
    border-radius: 0.8rem;
    width: 35rem;
    height: 5rem;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: 0.4s ease-out;
}
#links:active{
    box-shadow: 0 0 0.5rem white;
}
.link{
    color: white;
    width: 10rem;
    transition: 0.4s ease-out;
}
.link:hover{
    text-shadow: 0 0 0.5rem white;
}
#links>*{
    text-decoration: none;
}
#ico-apple{
    background-color: rgb(15, 15, 15);
    word-spacing: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10rem;
    width: 6rem;
    height: 6rem;
    transition: 0.4s ease-out;
}
#apple{
    width: 4rem;
    height: 4rem;
    margin-top: 0.4rem;
}
#ico-apple:hover{
    transform: scale(0.02rem);
    box-shadow: 0 0 0.5rem white;
}
#ico-apple:active{
    transform: scale(2);
    box-shadow: 0 0 0 white;
}
#ico-apple>p{
    margin: 0;
}
@keyframes cloudShape{
    0%   { border-radius: 55% 45% 60% 40%; }
    50%  { border-radius: 45% 55% 40% 60%; }
    100% { border-radius: 55% 45% 60% 40%; }
}
@keyframes particle-fade{
    to{
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 0;
    }
}